@font-face {
    font-family: "Proximanova-Regular";
    src: url("../fonts/OpenSans-Regular-webfont.eot") format("eot"),
           url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
           url("../fonts/OpenSans-Regular-webfont.tff") format("ttf");
   }
body {
    font-family: "Proximanova-Regular", sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
}

.user {
    display: flex;
    flex-direction: column;
    width: 1225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.user-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
}

.post {
    display: flex;
    flex-direction: column;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    padding: 10px;
}

.post-image {
    height: 220px;
    width: auto;
    object-fit: cover;
}

.user-information {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.user-avatar {
    margin-left: 200px;
}

.user-image {
    width: 200px;
}

.user-subs {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-about {
    margin-right: 20px;
}
