<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>

    <p th:text="'Hello, authenticated user ' + ${name} + '!'" />
    <div th:unless="${postsCount == '0'}">
        <div th:each="key: ${posts.keySet()}" class="post" id="post">
            <div><a th:href="@{/userprofile/{id}(id=${key.id})}" class="user-link">
                <p th:text="${key.username}"/>
            </a></div>
            <img th:src="@{/img/usersImage/{imagename}(imagename=${posts.get(key).imagename})}" class="post-image" id="post-image"/>
            <p th:text="${posts.get(key).text}" class="post-text"/>
        </div>
    </div>
</body>
</html>